<script setup>
import { RouterView } from 'vue-router';
import NavBar from './components/NavBar.vue';
import TwitterIconVue from './components/TwitterIcon.vue';

const currentYear = new Date().getFullYear();
</script>

<template>
  <div class="flex flex-col h-screen">
    <nav-bar />
    <main class="flex flex-col flex-grow my-4">
      <div class="container flex flex-col flex-grow mx-auto prose">
        <router-view />
      </div>
    </main>
    <div class="footer bg-gray-600 p-4 text-white font-bold">
      <div class="container mx-auto text-center flex flex-row items-center justify-between">
        <span>Form Maker - {{ currentYear }}</span>
        <a
          class="inline-flex flex-row mx-4"
          href="https://twitter.com/rootencio"
          target="_blank"
          title="Twitter Profile"
          rel="noreferrer"
          @click="hide"
        >
          <twitter-icon-vue class="w-6 h-6 mr-4" />José Carrero
        </a>
      </div>
    </div>
  </div>
</template>
