@tailwind base;
@tailwind components;
@tailwind utilities;

.form-maker-row {
  @apply flex flex-row mb-4 space-x-4;
}

.form-maker-column {
  @apply flex-grow;
}

.form-maker-label {
  @apply block font-bold mb-2;
}

.form-maker-input, .input-result {
  @apply border-2 border-gray-300 w-full rounded-md focus:ring-0 focus:outline-none focus:border-blue-500 disabled:bg-gray-100 disabled:text-gray-400;
}

hr {
  @apply border-t-4 border-t-gray-500 my-6;
}

.form-maker-help-text {
  @apply mt-1 text-gray-500/75;
}

.form-maker-input-error {
  @apply border-red-500 focus:border-red-500;
}
input.form-maker-input-error {
  @apply bg-red-500/20 text-red-700;
}

.form-maker-error {
  @apply mt-1 text-red-600
}

.form-input {
  @apply border-2 border-black w-full focus:outline-none focus:ring-0 focus:border-black disabled:bg-gray-100 disabled:text-gray-400
}
