<script setup>
import { RouterLink } from 'vue-router';
</script>

<template>
  <ul>
    <li>
      <router-link :to="{name: 'text-input'}">
        Basic Inputs
      </router-link>
    </li>
    <li>
      <router-link :to="{name: 'select-input'}">
        Selection Inputs
      </router-link>
    </li>
    <li>
      <router-link :to="{name: 'playground'}">
        Playground
      </router-link>
    </li>
    <li>
      <router-link :to="{name: 'example'}">
        Super Example
      </router-link>
    </li>
  </ul>
</template>

<style scoped>
ul {
  @apply flex flex-row space-x-4 mb-8;
}

a {
  @apply block px-4 py-2 rounded-md;
}
a.active {
  @apply bg-blue-500 text-white;
}
</style>
