<script setup>
import { RouterView } from 'vue-router';
import DevMenu from './components/DevMenu.vue';
</script>

<template>
  <div class="container mx-auto pt-4">
    <dev-menu />
    <router-view />
  </div>
</template>
