<script setup>
import { reactive } from 'vue';

const fieldTest = reactive({
  name: 'text',
  age: 40,
  web: 'https://www.google.com',
  multiline: 'Hello\nworld!\n1\n2\n3',
  color: '#b00b15',
  mail: 'example@example.com',
  password: '1234567',
  search: 'Searching...',
});

const fields = [
  [
    {
      label: 'Name', type: 'text', name: 'name', helpText: 'This is a help text'
    },
    { label: 'Date', type: 'date', name: 'date' },
    { label: 'Time', type: 'time', name: 'time' },
    {
      label: 'Age', type: 'number', name: 'age', error: 'Error message',
    },
  ],
  [
    { label: 'Web', type: 'url', name: 'web' },
    { label: 'Email', type: 'email', name: 'mail' },
    { label: 'Password', type: 'password', name: 'password' },
    {
      label: 'Search', type: 'search', name: 'search', placeholder: 'Search something',
    },
  ],
  [
    { label: 'Phone', type: 'tel', name: 'phone' },
    { label: 'Range', type: 'range', name: 'score' },
  ],
  [
    {
      label: 'Multiline', type: 'textarea', name: 'multiline', rows: 5, disabled: true,
    },
  ],
];
</script>

<template>
  <form-maker
    v-model="fieldTest"
    :fields="fields"
    :has-actions="false"
  >
    <template #extra>
      {{ fieldTest }}
    </template>
  </form-maker>
</template>
