<script setup>
import { reactive, computed, watch } from 'vue';
import CloseIcon from '../components/CloseIcon.vue';

const model = reactive({
  simpleField: '',
  object: {
    property: {
      nestedProperty: {
        value: 5,
      },
    },
  },
});

const fields = reactive([
  {
    name: 'object.property.nestedProperty.value',
    type: 'text',
    options: [],
    rules: [
      {
        validator: value => value !== '5',
        message: 'Cannot be 5',
      },
      {
        validator: value => Boolean(value) && value.length >= 3,
        message: 'Min length is 3',
      },
      {
        validator: value => value.length <= 10,
        message: 'Max length is 10',
      },
    ],
  },
]);

const addOption = () => {
  const n = fields[0].options.length;
  fields[0].options.push({
    label: `Item ${n + 1}`,
    value: n + 1,
  });
};

const removeOption = index => {
  fields[0].options.splice(index, 1);
};

const devFields = [
  {
    label: 'Field',
    name: 'name',
    type: 'select',
    options: [
      'object.property.nestedProperty.value',
      'simpleField',
    ],
  },
  {
    label: 'Label',
    name: 'label',
  },
  {
    label: 'Type',
    name: 'type',
    type: 'select',
    optionGroups: {
      'Basic': {
        'text': 'Text',
        'password': 'Password',
        'email': 'Email',
        'url': 'URL',
        'search': 'Search',
        'tel': 'Phone',
        'color': 'Color',
        'textarea': 'Textarea',
        'file': 'File',
      },
      'Numeric': {
        'number': 'Number',
        'range': 'Range',
      },
      'Dates & Time': {
        'date': 'Date',
        'time': 'Time',
        'week': 'Week (Chrome only)',
        'month': 'Month (Chrome only)',
      },
      'Selections': {
        'select': 'Select',
        'checkbox': 'Checkbox',
        'radio': 'Radio',
      },
    },
  },
  {
    label: 'Help Text',
    name: 'helpText',
  },
  {
    label: 'Error Message',
    name: 'error',
  },
  {
    label: 'Disabled',
    name: 'disabled',
    type: 'checkbox',
  },
];

const hasOptions = computed(() => [
  'select', 'radio', 'checkbox',
].indexOf(fields[0].type) !== -1);
const isNumeric = computed(() => [ 'number', 'range' ].indexOf(fields[0].type) !== -1);

watch(hasOptions, newVal => {
  if (!newVal) {
    delete fields[0].options;
  } else if (fields[0].options === undefined) {
    fields[0].options = [];
  }
}, { immediate: true });
</script>

<template>
  <div class="flex flex-row divide-x">
    <div class="basis-1/4 prose pr-4">
      <h2>Config</h2>
      <form-maker
        v-model="fields[0]"
        :fields="devFields"
        :has-actions="false"
      >
        <template #extra>
          <template v-if="hasOptions">
            <hr class="!my-4">
            <button
              type="button"
              class="mb-6 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700"
              @click="addOption"
            >
              Add Option
            </button>
            <div
              v-for="(option, i) in fields[0].options"
              :key="`option_${i}`"
              class="flex flex-row space-x-4 mb-4 items-center"
            >
              <div class="flex-grow flex-shrink">
                <input
                  type="text"
                  v-model="option.label"
                  class="form-maker-input"
                >
              </div>
              <div class="flex-grow flex-shrink">
                <input
                  type="text"
                  v-model="option.value"
                  class="form-maker-input"
                >
              </div>
              <div>
                <button
                  type="button"
                  @click="removeOption(i)"
                  class=" bg-red-500 text-white px-2 py-2 rounded-md hover:bg-red-700"
                >
                  <close-icon />
                </button>
              </div>
            </div>
          </template>
          <template v-if="isNumeric">
            <hr class="!my-4">
            <div class="flex flex-row space-x-4">
              <div class="flex-grow">
                <label
                  class="font-bold mb-2 inline-block"
                  for="__min"
                >Min</label>
                <input
                  type="number"
                  id="__min"
                  min="0"
                  class="form-maker-input"
                  v-model="fields[0].min"
                >
              </div>
              <div class="flex-grow">
                <label
                  class="font-bold mb-2 inline-block"
                  for="__max"
                >Max</label>
                <input
                  type="number"
                  id="__max"
                  min="0"
                  class="form-maker-input"
                  v-model="fields[0].max"
                >
              </div>
              <div class="flex-grow">
                <label
                  class="font-bold mb-2 inline-block"
                  for="__step"
                >Step</label>
                <input
                  type="number"
                  id="__step"
                  min="1"
                  class="form-maker-input"
                  v-model="fields[0].step"
                  placeholder="Step"
                >
              </div>
            </div>
          </template>
        </template>
      </form-maker>
    </div>
    <div class="basis-1/4 prose px-4">
      <h2>Object</h2>
      <span class="not-prose">
        <pre v-highlightjs><code class="rounded-md">const model = {{
          JSON.stringify(model, null, 2)
        }}</code></pre></span>
    </div>
    <div class="basis-1/4 prose px-4">
      <h2>Form Config</h2>
      <span class="not-prose">
        <pre v-highlightjs><code class="rounded-md">const fields = {{
          JSON.stringify(fields, null, 2)
        }}</code></pre></span>
    </div>
    <div class="basis-1/4 prose pl-4">
      <h2>Result</h2>
      <form-maker
        input-class="input-result"
        v-model="model"
        :fields="fields"
        :has-actions="false"
      />
    </div>
  </div>
</template>
