<script setup>
import { reactive } from 'vue';

const model = reactive({
  select1: 3,
  select2: [ 1, 2 ],
});

const selectFields = [
  [
    {
      'label': 'Select',
      'name': 'select1',
      'type': 'select',
      'options': [
        {
          label: 'Option 1',
          value: 1,
        },
        {
          label: 'Option 2',
          value: 2,
        },
        {
          label: 'Option 3',
          value: 3,
        },
        {
          label: 'Option 4',
          value: 4,
        },
        {
          label: 'Option 5',
          value: 5,
        },
      ],
    },
    {
      label: 'Select with groups',
      name:'select3',
      type: 'select',
      optionGroups: {
        "Group 1": [
          { label: "Group 1 - option 1", value: 11},
          { label: "Group 1 - option 2", value: 12},
          { label: "Group 1 - option 3", value: 13},
        ],
        "Group 2": [
          { label: "Group 2 - option 1", value: 21},
          { label: "Group 2 - option 2", value: 22},
          { label: "Group 2 - option 3", value: 23},
        ]
      }
    },
    {
      'label': 'Select Multiple',
      'name': 'select2',
      'type': 'select',
      'multiple': true,
      'options': [
        {
          label: 'Option 1',
          value: 1,
        },
        {
          label: 'Option 2',
          value: 2,
        },
        {
          label: 'Option 3',
          value: 3,
        },
        {
          label: 'Option 4',
          value: 4,
        },
        {
          label: 'Option 5',
          value: 5,
        },
      ],
    },
  ],
  [
    {
      label: 'Binary check',
      name: 'checked',
      type: 'checkbox',
    },
    {
      label: 'Multiple check',
      name: 'checked_multiple',
      type: 'checkbox',
      options: [
        {
          label: 'Option 1',
          value: 1,
        },
        {
          label: 'Option 2',
          value: 2,
        },
        {
          label: 'Option 3',
          value: 3,
        },
        {
          label: 'Option 4',
          value: 4,
        },
        {
          label: 'Option 5',
          value: 5,
        },
      ],
    },
    {
      label: 'Radios',
      name: 'radio',
      type: 'radio',
      options: [
        {
          label: 'Option 1',
          value: 1,
        },
        {
          label: 'Option 2',
          value: 2,
        },
        {
          label: 'Option 3',
          value: 3,
        },
        {
          label: 'Option 4',
          value: 4,
        },
        {
          label: 'Option 5',
          value: 5,
        },
      ],
    },
  ],
];
</script>

<template>
  <form-maker
    v-model="model"
    :fields="selectFields"
    :has-actions="false"
  >
    <template #extra>
      {{ model }}
    </template>
  </form-maker>
</template>
