<template>
  {{ message }}
  <form-maker
    v-if="formLoaded"
    v-model="object"
    :fields="fields"
  >
    <template #extra>
      {{ object }}
    </template>
  </form-maker>
</template>
<script>
import { ref, reactive, onMounted } from 'vue';
import * as validations from './validations';
</script>
<script setup>

const loadSelectOptions = async () => new Promise(resolve => {
  setTimeout(() => {
    resolve([
      { label: 'Option 1', value: 1 },
      { label: 'Option 2', value: 2 },
      { label: 'Option 3', value: 3 },
      { label: 'Option 4', value: 4 },
      { label: 'Option 5', value: 5 },
    ]);
  }, 2000);
});

const loadFormFromApi = async () => new Promise(resolve => {
  setTimeout(() => {
    const fieldsFromApi = [
      {
        label: 'Campo 1',
        name: 'campo1',
        rules: [
          { type: 'required', message: 'Campo requerido' },
          { type: 'number', message: 'Solo numeros' },
        ],
      },
      {
        label: 'Select',
        name: 'select',
        type: 'select',
        options: [],
      },
    ];
    resolve(fieldsFromApi);
  }, 2000);
});

const updateFormFields = (remoteFields, fields) => {
  /* eslint-disable no-param-reassign */
  remoteFields.forEach((field, index) => {
    if (field.rules) {
      const newField = { ...field };
      newField.rules = field.rules.map(r => {
        const newRule = { ...r };
        if (r.type === 'required') {
          newRule.validator = validations.required;
        }
        if (r.type === 'number') {
          newRule.validator = validations.integer;
        }
        return newRule;
      });
      fields[index] = newField;
    } else {
      fields[index] = field;
    }
  });
};

const message = ref(null);
const formLoaded = ref(false);
const fields = reactive([]);

const object = reactive({
  campo1: null,
  select: null,
});

onMounted(async () => {
  message.value = 'Cargando Form del API';
  const formFields = await loadFormFromApi();
  updateFormFields(formFields, fields);
  formLoaded.value = true;

  message.value = 'Cargando Opciones de select del API';
  const options = await loadSelectOptions();
  fields[1].options = options;
  message.value = null;
});
</script>
