<script setup lang="ts">
import type { FormMakerInputProps } from 'lib/model';
import useVModel from '../../composables/useVModel';

const props = withDefaults(defineProps<FormMakerInputProps>(), {
  loading: false,
  disabled: false,
  error: undefined,
  helpText: undefined,
  id: undefined,
  label: undefined,
  placeholder: undefined,
  rules: () => [],
  type: 'text'
});

const emit = defineEmits<{
  (event: 'update:modelValue' | string, val: any): void
}>();

const value = useVModel(() => props.modelValue, emit);
</script>

<template>
  <input v-model="value" :type="type" v-bind="{ ...$props, ...$attrs }">
</template>
