<script setup lang="ts">
import { computed, type ComputedRef } from 'vue';
import type { FormMakerInputProps, RuleValidator, SelectOption } from 'lib/model';

interface CheckInputProps extends /* @vue-ignore */ FormMakerInputProps {
  options?: boolean | SelectOption[]
  loading?: boolean | undefined
  disabled?: boolean | undefined
  modelValue: any
  error?: string | undefined
  helpText?: string | undefined
  label?: string | undefined
  type?: string
  rules?: RuleValidator[]
}

const props = withDefaults(defineProps<CheckInputProps>(), {
  loading: false,
  disabled: false,
  error: undefined,
  helpText: undefined,
  id: undefined,
  label: undefined,
  placeholder: undefined,
  rules: () => [],
  options: () => []
});
const emit = defineEmits(['update:modelValue'])


const isBinary = computed(() => {
  return Array.isArray(props.options) && props.options.length === 0
})

const val = computed(() => props.modelValue);

const selectedOptions = computed(() => {
  const arr = Array.isArray(val.value) ? val.value : [ val.value ];
  return arr.filter(x => !!x);
});

const fieldOptions: ComputedRef<SelectOption[]> = computed(() => {
  if (!isBinary.value) {
    return props.options as SelectOption[];
  }
  return [
    {
      label: props.label,
      value: true,
    },
  ];
});

const handleClick = (clickVal: any) => {
  let selOptions = [ ...selectedOptions.value ];
  if (selOptions.indexOf(clickVal) === -1) {
    selOptions.push(clickVal);
  } else {
    selOptions = selOptions.filter(x => x !== clickVal);
  }

  if (isBinary.value) {
    emit('update:modelValue', selOptions.length > 0);
  } else {
    emit('update:modelValue', selOptions);
  }
};
</script>

<template>
  <div
    v-for="(option,i) in fieldOptions"
    :key="`option_${i}`"
  >
    <label>
      <input
        v-bind="$props"
        :checked="selectedOptions.indexOf(option.value) !== -1"
        :value="option.value"
        type="checkbox"
        @click="() => handleClick(option.value)"
      >
      {{ option.label }}
    </label>
  </div>
</template>
