<script setup lang="ts">
import type { FormMakerInputProps } from 'lib/model';


withDefaults(defineProps<FormMakerInputProps>(), {
  loading: false,
  disabled: false,
  error: undefined,
  helpText: undefined,
  id: undefined,
  label: undefined,
  placeholder: undefined,
  rules: () => [],
});
const emit = defineEmits<{
  (event: 'update:modelValue' | string, val: any): void
}>();

const handleFileSelect = (event: Event) => {
  const el = event.currentTarget as HTMLInputElement
  if (el.files && el.files.length) {
    const file = el.files[0];
    emit('update:modelValue', file);
  }
};
</script>

<template>
  <input
    v-bind="$props"
    type="file"
    @change="handleFileSelect"
  >
</template>
