<script setup lang="ts">
import type { FormMakerInputProps, RuleValidator, SelectOption } from 'lib/model';

interface RadioInputProps extends FormMakerInputProps {
  options?: SelectOption[]
  loading?: boolean | undefined
  disabled?: boolean | undefined
  modelValue: any
  error?: string | undefined
  helpText?: string | undefined
  label?: string | undefined
  type?: string
  rules?: RuleValidator[]
}

withDefaults(defineProps<RadioInputProps>(), {
  loading: false,
  disabled: false,
  error: undefined,
  helpText: undefined,
  id: undefined,
  label: undefined,
  placeholder: undefined,
  options: () => [],

});
const emit = defineEmits(['update:modelValue'])

const handleClick = (value: any) => {
  emit('update:modelValue', value)
}
</script>

<template>
  <div
    v-for="(option, i) in options"
    :key="`option_${i}`"
  >
    <label>
      <input
        v-bind="$props"
        :checked="option.value === modelValue"
        :value="option.value"
        type="radio"
        @change="handleClick(option.value)"
      >
      {{ option.label }}
    </label>
  </div>
</template>
