<script setup lang="ts">
import { computed } from 'vue';
import useVModel from '../../composables/useVModel';
import type { FormMakerInputProps, SelectOption } from 'lib/model';

interface SelectInputProps extends FormMakerInputProps {
  options?: SelectOption[],
  optionGroups?: Record<string, SelectOption[]>
}

const props = withDefaults(defineProps<SelectInputProps>(), {
  loading: false,
  disabled: false,
  error: undefined,
  helpText: undefined,
  id: undefined,
  label: undefined,
  placeholder: undefined,
  options: () => [],
  optionGroups: () => ({}),
  rules: () => [],
});
const emit = defineEmits<{
  (event: 'update:modelValue' | string, val: any): void
}>();

const value = useVModel(() => props.modelValue, emit);

const hasGroups = Object.keys(props.optionGroups).length > 0;

const fixedOptions = computed(() => props.options.map(o => {
  if (typeof o === 'object') {
    return o;
  }
  return {
    label: o,
    value: o,
  };
}));
</script>

<template>
  <select
    :id="id"
    v-model="value"
    :disabled="disabled"
    :name="name"
    :placeholder="placeholder"
  >
    <template v-if="hasGroups">
      <optgroup
        v-for="(opts, key) in optionGroups"
        :key="`optGroup_${key}`"
        :label="key"
      >
        <option
          v-for="(opt, optKey) in opts"
          :key="`option_${opt}`"
          :value="optKey"
        >
          {{ opt }}
        </option>
      </optgroup>
    </template>
    <option
      v-for="(option,i) in fixedOptions"
      v-else
      :key="`option_${i}`"
      :value="option.value"
    >
      {{ option.label }}
    </option>
  </select>
</template>
