<script setup lang="ts">
import type { TextareaHTMLAttributes } from 'vue';
import useVModel from '../../composables/useVModel';

interface TextAreaProps extends /* @vue-ignore */ TextareaHTMLAttributes {
  modelValue: any
}

const props = withDefaults(defineProps<TextAreaProps>(), {
  disabled: false,
  id: undefined,
  placeholder: undefined,
});
const emit = defineEmits<{
  (event: 'update:modelValue' | string, val: any): void
}>();

const value = useVModel(() => props.modelValue, emit);
</script>

<template>
  <textarea
    :id="id"
    v-model="value"
    v-bind="{...$props, ...$attrs}"
  />
</template>
