<script setup>
import { ref } from 'vue';
import useChangeTitle from './useChangeTitle';

const currentFormMakerTab = ref('properties');

useChangeTitle('API');
</script>

<template>
  <section>
    <h1>API</h1>
    <h2>Plugin Options</h2>
    <p>These are the available options for the Form Maker vue plugin:</p>
    <pre v-highlightjs><code class="javascript">const defaultOptions = {
    classes: {
        'form-row': 'form-maker-row',
        'form-column': 'form-maker-column',
        'form-label': 'form-maker-label',
        'input-group': 'form-maker-input-group',
        'input-wrapper': 'form-maker-input-wrapper',
        'input-error': 'form-maker-input-error',
        'input': 'form-maker-input',
        'error': 'form-maker-error',
        'help-text': 'form-maker-help-text',
        'submit-button': 'form-maker-submit',
    },
    components: {
        'form-maker-input-color'
        'form-maker-input-date'
        'form-maker-input-email'
        'form-maker-input-month'
        'form-maker-input-number'
        'form-maker-input-password'
        'form-maker-input-search'
        'form-maker-input-tel'
        'form-maker-input-time'
        'form-maker-input-text'
        'form-maker-input-url'
        'form-maker-input-week'
        'form-maker-input-range'
        'form-maker-input-file'
        'form-maker-input-textarea'
        'form-maker-input-select'
        'form-maker-input-checkbox'
        'form-maker-input-radio'

        'form-maker-label'
        'form-maker-help'
        'form-maker-error'
    }
};</code></pre>
    <p>
      If you want to change the default class for any element, just change the property you want in
      the "classes" object, you don't have to specify all of them, just the ones you want to
      overwrite
    </p>
    <p>
      If you want to register a custom component, just change the corresponding property in the
      "components" object. For instance, if you want to change the default input class, and register
      a new custom input, this will be enough:
    </p>
    <pre v-highlightjs><code class="javascript">createApp(App)
  .use(FormMaker, {
    classes: {
      'input-class': 'new-default-input-class'
    },
    components: {
      'form-maker-input-text': MyCustomTextInput,
      'form-maker-input-custom': MyCustomInputComponent
    }
  )
  .mount('#app')</code></pre>
    <p>
      Form Maker works with whatever CSS Framework you use, has been tested with bootstrap,
      tailwind css and bulma, but you can use whatever you want
    </p>

    <h2>Form Maker</h2>

    <div>
      <nav class="border-b border-gray-500">
        <a
          @click="currentFormMakerTab = 'properties'"
          :class="['tab', currentFormMakerTab === 'properties' && 'active']"
        >Properties</a>
        <a
          @click="currentFormMakerTab = 'events'"
          :class="['tab', currentFormMakerTab === 'events' && 'active']"
        >Events</a>
        <a
          @click="currentFormMakerTab = 'slots'"
          :class="['tab', currentFormMakerTab === 'slots' && 'active']"
        >Slots</a>
      </nav>
      <div class="content">
        <table
          v-if="currentFormMakerTab === 'properties'"
          class="props"
        >
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>loading</td>
              <td>Boolean</td>
              <td>Determines if the form will show loading state, default: false</td>
            </tr>
            <tr>
              <td>has-actions</td>
              <td>Boolean</td>
              <td>Determines if the form will show actions (buttons). default: true</td>
            </tr>
            <tr>
              <td>modelValue</td>
              <td>Object</td>
              <td>
                The object that will be modified by the form, is used with the v-model directive.
                Optional. default: {}
              </td>
            </tr>
            <tr>
              <td>fields</td>
              <td>Array</td>
              <td>
                The fields that will be shown in the form. Optional. default: [].
                See <router-link :to="{ hash: '#fields_props'}">
                  fields
                </router-link>
              </td>
            </tr>
            <tr>
              <td>row-class</td>
              <td>String</td>
              <td>
                CSS class for each form row, default: form-maker-row, or whatever you defined when
                using the plugin
              </td>
            </tr>
            <tr>
              <td>column-class</td>
              <td>String</td>
              <td>CSS class for each form column, default: form-maker-column</td>
            </tr>
            <tr>
              <td>label-class</td>
              <td>String</td>
              <td>CSS class for the labels inside the form, default: form-maker-label</td>
            </tr>
            <tr>
              <td>input-group-class</td>
              <td>String</td>
              <td>
                CSS Class for each input group (label + field + help text + error).
                default: form-maker-input-group
              </td>
            </tr>
            <tr>
              <td>
                input-wrapper-class
              </td>
              <td>String</td>
              <td>
                CSS for the div immediately surrounding the input,
                default: form-maker-input-wrapper
              </td>
            </tr>
            <tr>
              <td>input-error-class</td>
              <td>String</td>
              <td>CSS class for input when is in error state, default: form-maker-input-error</td>
            </tr>
            <tr>
              <td>input-class</td>
              <td>String</td>
              <td>CSS class applied to every input, default: form-maker-input</td>
            </tr>
            <tr>
              <td>error-class</td>
              <td>String</td>
              <td>CSS class for the error message when is visible, default: form-maker-error</td>
            </tr>
            <tr>
              <td>help-text-class</td>
              <td>String</td>
              <td>Class for help text messages, default: form-maker-help-text</td>
            </tr>
            <tr>
              <td>submit-button-class</td>
              <td>String</td>
              <td>CSS class for the submit button, default: form-maker-submit</td>
            </tr>
            <tr>
              <td>submit-button-text</td>
              <td>String</td>
              <td>Text for the submit button, default: Submit</td>
            </tr>
          </tbody>
        </table>

        <table
          v-if="currentFormMakerTab === 'events'"
          class="props"
        >
          <thead>
            <tr>
              <th>Event</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>submit</td>
              <td>
                When form is submitted, either by pressing the submit button or keyboard
                events
              </td>
            </tr>
          </tbody>
        </table>

        <table
          v-if="currentFormMakerTab === 'slots'"
          class="props"
        >
          <thead>
            <tr>
              <th>Slot</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>default</td>
              <td>Used to define custom form content</td>
            </tr>
            <tr>
              <td>loading</td>
              <td>Slot shown when the loading property of the form is true</td>
            </tr>
            <tr>
              <td>extra</td>
              <td>Used to show extra content, located after all the fields</td>
            </tr>
            <tr>
              <td>actions</td>
              <td>
                Slot containing the action button(s), can be used to change buttons for the form
              </td>
            </tr>
            <tr>
              <td>submit-button</td>
              <td>Used to render your custom submit button</td>
            </tr>
            <tr>
              <td>*</td>
              <td>
                There's a named slot for every input shown in the form, for instance, an input with
                name 'field_xyz' will have its corresponding slot named 'field_xyz' inside Form
                Maker, that way you can override a single input without the need to define a custom
                component
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h2 id="fields_props">
      Fields
    </h2>
    <p>
      Every field must have at least the name of the property that the input will change, but it
      can have any html property for an specific input type. i.e.: min and max for number and
      range inputs
    </p>
    <table class="props">
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>name</td>
          <td>
            Name of the property that the input will change, supports property nesting using dot notation.
            required
          </td>
        </tr>
        <tr>
          <td>type</td>
          <td>
            Type of input that will render, must correspond with any of the 'form-maker-input-*'
            defined in the plugin, default: text
          </td>
        </tr>
        <tr>
          <td>label</td>
          <td>Text that will appear besides the input</td>
        </tr>
        <tr>
          <td>id</td>
          <td>HTML id of the input.</td>
        </tr>
        <tr>
          <td>placeholder</td>
          <td>HTML placeholder of the input.</td>
        </tr>
        <tr>
          <td>disabled</td>
          <td>Same as disabled in native HTML, default: false</td>
        </tr>
        <tr>
          <td>options</td>
          <td>
            Array of objects ({ value, label }) shown in certain inputs (select, radio and
            checkbox)
          </td>
        </tr>
        <tr>
          <td>optionGroups</td>
          <td>Object used to group options in a select</td>
        </tr>
        <tr>
          <td>error</td>
          <td>Error message for a field. optional, default: null</td>
        </tr>
        <tr>
          <td>helpText</td>
          <td>Help text shown, optional, default: null</td>
        </tr>
        <tr>
          <td>rules</td>
          <td>
            Array of rules ({ message, validator: (val) => Boolean }) for client-side validation.
            optional, default: []
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<style scoped>
.tab {
  @apply rounded-md border-b-0 inline-block py-2 px-4 mb-0 cursor-pointer;
  text-decoration: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tab.active {
  @apply text-white font-bold bg-gray-500;
}
</style>
