<template>
  <div class="flex flex-col md:flex-row gap-4">
    <div class="codes flex-1 max-w-none md:max-w-[50%]">
      <slot name="code"/>
    </div>
    <div class="live flex-1 max-w-none md:max-w-[50%]">
      <slot />
    </div>
  </div>
</template>
