<script setup>
import useChangeTitle from './useChangeTitle';

useChangeTitle('Extending');
</script>

<template>
  <section>
    <h1>Extending Form Maker</h1>
    <p>
      Form Maker has sensible defaults for every(?) type of input, but you can specify a custom
      input as an option when using the plugin
    </p>
    <pre v-highlightjs><code class="javascript">import FormMaker from "@josercl/form-maker";

createApp(App)
  .use(FormMaker, {
    components: {
      'form-maker-input-customtype': CustomTypeInput,
    }
  })
  .mount('#app')</code></pre>
    <p>
      This will allow you to specify type: 'customtype' in the fields specification, the same way
      you can overwrite the default inputs. There is already a component for each type of input
      (color, date, email, month, number, password, search, tel, time, text, url, week, range, file,
      textarea, select, checkbox, radio)
    </p>
    <p>
      For instance, if you want a custom text input, overwrite the 'form-maker-input-text' component
      with a custom one
    </p>

    <p>
      The same way you can change how form labels, error messages and help text is rendered,
      with the keys <span class="font-bold">form-maker-label</span>,
      <span class="font-bold">form-maker-help</span> and
      <span class="font-bold">form-maker-error</span>
    </p>

    <pre v-highlightjs><code class="javascript">createApp(App)
  .use(FormMaker, {
    components: {
      'form-maker-input-select': CustomSelectComponent,
      'form-maker-input-text': CustomTextInput,
      'form-maker-input-customtype': CustomTypeInput,

      'form-maker-label': CustomLabelComponent,
      'form-maker-help': CustomHelpText,
      'form-maker-error': CustomErrorText,
    }
  })
  .mount('#app')</code></pre>
  </section>
  <p>
    If you don't want to extend Form Maker but want to change the appearance of the form, see the
    <router-link :to="{ name: 'theming'}">
      Theming documentation
    </router-link>
  </p>
</template>
