<script setup>
import {
  reactive, ref, computed, onMounted
} from 'vue';
import VCodepen from './Codepen.vue';
import useChangeTitle from './useChangeTitle';

useChangeTitle('Examples');

const formVar = reactive({
  currentPen: 'eYzJGby',
});

const fields = [
  {
    label: 'Example',
    name: 'currentPen',
    type: 'select',
    optionGroups: {
      Basic: {
        eYzJGby: 'Simplest',
        eYzJeMb: 'Using default slot',
        QWEyOXB: 'Specifying fields',
      },
      Styling: {
        pobgpoq: 'Using Bootstrap',
        oNLbpjz: 'Using Tailwind',
        mdEwLpj: 'Using Fomantic/Semantic UI',
        WNXaPJO: 'Using Bulma',
        RwRrYJQ: 'Customizing Default Styles',
        yLJepgW: 'Using Custom Styles',
      },
      Customizing: {
        GRqoXLX: 'Defining Custom Input',
        mdEVzMo: 'Using dynamic field slots',
      },
      Full: {
        xxOZyPW: 'Everything but the kitchen sink',
      },
    },
  },
];

const codepenContainer = ref(null);

const height = ref(0);

const codepenOptions = computed(() => ({
  'data-height': height.value,
  'data-theme-id': 'dark',
  'data-slug-hash': formVar.currentPen,
  'data-default-tab': 'result',
  'data-user': 'josercl',
  'placeholder': `See the Pen <a href="https://codepen.io/josercl/pen/${formVar.currentPen}/">here</a>.`,
}));

onMounted(() => {
  height.value = codepenContainer.value.clientHeight;
});
</script>

<template>
  <section class="flex flex-col flex-grow">
    <h1>Examples</h1>
    <div class="flex flex-col flex-grow">
      <form-maker
        v-model="formVar"
        :fields="fields"
        :has-actions="false"
        label-class="hidden"
      />
      <div
        ref="codepenContainer"
        class="flex flex-grow border border-bg-gray-200"
      >
        <v-codepen
          v-if="height > 0"
          :options="codepenOptions"
        />
      </div>
    </div>
  </section>
</template>
