<script setup>
import { ref } from 'vue';
import GitlabIcon from './GitlabIcon.vue';
import packageInfo from '../../../package.json';

const visible = ref(false);

const toggle = () => {
  visible.value = !visible.value;
};

const hide = () => {
  visible.value = false;
};
</script>

<template>
  <div class="navbar">
    <div class="container mx-auto">
      <nav>
        <router-link
          class="brand"
          :to="{ name: 'home' }"
        >
          <span>Form Maker</span>
        </router-link>

        <div class="bars">
          <button @click="toggle">
            <svg
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            ><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
          </button>
        </div>

        <div
          class="menu"
          :class="{ visible }"
        >
          <div class="items">
            <router-link
              :to="{name: 'home'}"
              @click="hide"
            >
              Installation
            </router-link>
            <router-link
              :to="{name: 'theming'}"
              @click="hide"
            >
              Theming
            </router-link>
            <router-link
              :to="{name: 'extension'}"
              @click="hide"
            >
              Extending
            </router-link>
            <router-link
              :to="{name: 'api'}"
              @click="hide"
            >
              API
            </router-link>
            <router-link
              :to="{name: 'examples'}"
              @click="hide"
            >
              Examples
            </router-link>
            <a
              class="ml-auto gitlab-link"
              href="https://gitlab.com/josercl/form-maker"
              target="_blank"
              title="Gitlab"
              rel="noreferrer"
              @click="hide"
            >
              <!-- <font-awesome-icon
                :icon="['fab', 'gitlab']"
                size="2x"
                class="hidden lg:block"
              /> -->
              <gitlab-icon class="w-6 h-6 hidden lg:inline-block" />
              <span class="block lg:hidden">See on Gitlab</span>
            </a>
            <a
              href="https://www.npmjs.com/package/@josercl/form-maker"
              target="_blank"
              title="NPM Registry"
              class="npm-link"
              rel="noreferrer"
              @click="hide"
            >
              <font-awesome-icon
                :icon="['fab', 'npm']"
                size="2x"
                class="hidden lg:block"
              />
              <span class="lg:ml-4 mb-2 lg:mb-0 inline-block">v{{ packageInfo.version }}</span>
              <span class="block lg:hidden">See on NPM registry</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>
