<script setup>
import SetupSection from './SetupSection.vue';
import UsageSection from './UsageSection.vue';
import useChangeTitle from './useChangeTitle';

useChangeTitle('Setup & Installation');
</script>

<template>
  <setup-section />
  <usage-section />
</template>
