<script setup>
import CodeExample from './CodeExample.vue';
import useChangeTitle from './useChangeTitle';

useChangeTitle('Theming');

const person = {
  name: 'John Doe',
  age: 20,
};
</script>

<template>
  <section>
    <h1>Theming</h1>
    <p>Form Maker has several default classes</p>
    <div class="p-4 pt-2 border border-gray-500 bg-gray-500 text-gray-900">
      .form-maker
      <div class="p-4 pt-2 border border-yellow-500 bg-yellow-500 text-yellow-900">
        .form-maker-row
        <div class="flex flex-row space-x-4">
          <div class="border flex-grow border-green-500 bg-green-500 text-green-900 p-4 pt-2">
            .form-maker-column
            <div class="border p-2 border-blue-500 bg-blue-500 text-blue-900">
              .form-maker-input-wrapper
              <div class="border border-indigo-500 bg-indigo-500 text-indigo-900 px-2">
                <label>.form-maker-label</label>
              </div>
              <div class="border border-indigo-500 bg-indigo-500 text-indigo-900  mt-2 px-2 pb-2">
                .form-maker-input-group<br>
                <input
                  type="text"
                  placeholder=".form-maker-input"
                  class="w-full border border-transparent"
                >
              </div>
              <div class="border border-indigo-500 bg-indigo-500 text-indigo-900  mt-2 px-2">
                .form-maker-help-text
              </div>
              <div class="border border-red-500 bg-red-500 text-red-900 mt-2 px-2">
                .form-maker-error
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="p-2 border border-gray-900 mt-4"
      >
        .form-maker-submit
      </button>
    </div>
    <p>All of those can be changed in CSS (easiest way)</p>
    <code-example>
      <template #code>
        <pre
          v-highlightjs
          class="first"
        ><code class="css">.form-maker-label {
    color: blue;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.form-maker-input {
    border: 2px solid black;
    background: white;
    border-radius: 16px;
    padding: .5rem;
}
        </code></pre>
      </template>
      <form-maker
        :has-actions="false"
        v-model="person"
        label-class="custom-label"
        input-class="custom-input"
      />
    </code-example>

    <p>Or you can change the classes you want to use, for instance, if you use bootstrap:</p>

    <p>
      <!-- eslint-disable-next-line -->
      <pre v-highlightjs><code class="html p-4">&lt;form-maker v-model="person" row-class="form-row" column-class="col-12 col-sm" label-class="form-label" input-class="form-control"/&gt;</code></pre>
    </p>

    <p>
      For full reference of Form Maker check the <router-link :to="{ name: 'api' }">
        API
      </router-link>
    </p>
  </section>
</template>
