<template>
  <section>
    <h1>Usage</h1>
    <pre v-highlightjs><code class="javascript">import FormMaker from "@josercl/form-maker";

createApp(App)
    .use(FormMaker)
    .mount('#app')</code></pre>
    <h2>Simplest Example</h2>
    <p>
      The simplest way to use it is using the v-model directive, this will generate a form with
      only text inputs for every property of the object used
    </p>
    <code-example>
      <template #code>
        <pre v-highlightjs><code class="html">&lt;form-maker v-model="person"/&gt;

&lt;script setup&gt;
const person = reactive({
  name: '{{ person.name }}',
  age: {{ person.age }},
  email: '{{ person.email }}',
})
&lt;/script&gt;</code></pre>
      </template>
      <form-maker
        v-model="person"
        :has-actions="false"
      />
    </code-example>

    <h2>Showing specific fields inside the form:</h2>
    <code-example>
      <template #code>
        <pre v-highlightjs><code class="html">&lt;form-maker&gt;
  &lt;form-maker-input type="text" v-model="person.email" label="Email Address"/&gt;
  &lt;form-maker-input type="text" v-model="person.name" label="Person's Name"/&gt;
&lt;/form-maker&gt;</code></pre>
      </template>
      <form-maker :has-actions="false">
        <form-maker-input
          class="mb-4"
          type="text"
          v-model="person.email"
          label="Email Address"
        />
        <form-maker-input
          type="text"
          v-model="person.name"
          label="Person's Name"
        />
      </form-maker>
    </code-example>

    <h2>Specifying fields explicitly</h2>

    <code-example>
      <template #code>
        <pre v-highlightjs><code class="html">&lt;form-maker v-model="person" :fields="fields"&gt;

&lt;script setup&gt;
const person = reactive({
  name: '{{ person.name }}',
  age: {{ person.age }},
  email: '{{ person.email }}',
})

const fields = [
  [ { label: 'Person\'s Name', name: 'name', type: 'text', } ],
  [
    { label: 'Age', name: 'age', type: 'number' },
    { label: 'Spam destination', name: 'email', type: 'email' }
  ]
]
&lt;/script&gt;</code></pre>
      </template>
      <form-maker
        v-model="person"
        :fields="fields"
        :has-actions="false"
      />
    </code-example>
  </section>
</template>

<script setup>
import { reactive } from 'vue';
import CodeExample from './CodeExample.vue';

const person = reactive({
  name: 'John Doe',
  age: 20,
  email: 'johndoe@email.com',
});

const fields = [
  { label: 'Person\'s Name', name: 'name', type: 'text' },
  [
    { label: 'Age', name: 'age', type: 'number' },
    { label: 'Spam destination', name: 'email', type: 'email' },
  ],
];
</script>
