<script setup lang="ts">
import type { FormMakerProps, InputType } from 'lib/model';
import {
  computed,
  inject,
  provide,
  type ComputedRef
} from 'vue';

const props = withDefaults(defineProps<FormMakerProps>(), {
  loading: false,
  hasActions: true,
  modelValue: () => ({}),
  fields: () => [],
  hideDivider: false,
  rowClass: null,
  columnClass: null,
  labelClass: null,
  inputGroupClass: null,
  inputWrapperClass: null,
  inputErrorClass: null,
  inputClass: null,
  errorClass: null,
  helpTextClass: null,
  submitButtonClass: null,
  submitButtonText: 'Submit',
})

const emit = defineEmits(['submit', 'update:modelValue']);

const handleSubmit = () => emit('submit');

const formFields: ComputedRef<InputType[][]> = computed(() => {
  if (props.fields.length > 0) {
    return props.fields.map(row => {
      let newRow: InputType[] = row;
      if (!Array.isArray(row)) {
        newRow = [row];
      }
      return newRow.map((fieldSpec: InputType) => {
        return {
          ...fieldSpec,
          id: fieldSpec.id || `formMaker_${new Date().getTime()}_${fieldSpec.name}`,
        };
      });
    });
  }

  return Object.keys(props.modelValue).map(key => ([
    {
      name: key,
      label: key,
      id: `formMaker_${key}`,
    }
  ]));
});

provide('labelClass', props.labelClass || inject('form-label'));
provide('inputGroupClass', props.inputGroupClass || inject('input-group'));
provide('inputWrapperClass', props.inputWrapperClass || inject('input-wrapper'));
provide('inputErrorClass', props.inputErrorClass || inject('input-error'));
provide('inputClass', props.inputClass || inject('input'));
provide('errorClass', props.errorClass || inject('error'));
provide('helpTextClass', props.helpTextClass || inject('help-text'));

const realRowClass = props.rowClass || inject('form-row');
const realColumnClass = props.columnClass || inject('form-column');
const realSubmitButtonClass = props.submitButtonClass || inject('submit-button');

const getObject = (fieldName: string) => {
  const fields = fieldName.split('.')
  let result = props.modelValue
  for (let i = 0; i < fields.length - 1; i += 1) {
    const candidate = result[fields[i]]
    if (!candidate) {
      break
    }
    result = candidate
  }
  return result
};

const getProp = (fieldName: string) => {
  const fields = fieldName.split('.');
  return fields[fields.length - 1];
};

</script>

<template>
  <form class="form-maker" @submit.prevent="handleSubmit">
    <slot v-if="loading" name="loading">
      Loading...
    </slot>
    <slot>
      <div v-for="(fieldRow, i) in formFields" :class="realRowClass" :key="`fieldRow_${i}`">
        <div v-for="(field, j) in fieldRow" :class="[realColumnClass, field.columnClass]" :key="`field_${i}_${j}`">
          <slot :field="field" :name="`${field.name}`">
            <form-maker-input v-model="getObject(field.name)[getProp(field.name)]" v-bind="field" />
          </slot>
        </div>
      </div>
    </slot>
    <slot name="extra" />
    <slot name="divider">
      <hr v-if="hasActions && !hideDivider">
    </slot>
    <slot v-if="hasActions" name="actions">
      <slot name="submit-button">
        <button :class="realSubmitButtonClass" :disabled="loading" type="submit">
          {{ submitButtonText }}
        </button>
      </slot>
      <slot name="extra-buttons" />
    </slot>
  </form>
</template>
