<script setup lang="ts">
import { computed } from 'vue';
import useFormClasses from '../composables/useFormClasses';
import useValidator from '../composables/useValidator';
import useVModel from '../composables/useVModel';
import type { FormMakerInputProps } from 'lib/model';

defineOptions({
  inheritAttrs: false,
});

const props = withDefaults(defineProps<FormMakerInputProps>(), {
  loading: false,
  disabled: false,
  error: undefined,
  helpText: undefined,
  id: undefined,
  label: undefined,
  placeholder: undefined,
  rules: () => [],
  type: 'text'
})

const emit = defineEmits<{
  (event: 'update:modelValue' | string, val: any): void
}>();

const value = useVModel(() => props.modelValue, emit);

const {
  labelClass,
  inputClass,
  inputWrapperClass,
  inputGroupClass,
  inputErrorClass,
  errorClass,
  helpTextClass,
} = useFormClasses();

const hasLabel = computed(() => Boolean(props.label));
const hasHelpText = computed(() => Boolean(props.helpText));

const validationError = useValidator(value, props.rules);

const hasErrors = computed(() => Boolean(props.error) || Boolean(validationError.value));

const realError = computed(() => {
  if (props.error) {
    return props.error;
  }
  return validationError.value;
});

</script>

<template>
  <div :class="[ hasErrors && inputErrorClass, inputWrapperClass ]">
    <slot
      v-if="type !== 'checkbox'"
      name="label"
    >
      <form-maker-label
        v-if="hasLabel"
        :id="id"
        :class="labelClass"
        :label="label"
      >
        {{ label }}
      </form-maker-label>
    </slot>
    <slot>
      <div :class="[inputGroupClass, hasErrors && inputErrorClass]">
        <slot name="before" />
        <component
          :is="`form-maker-input-${type}`"
          v-bind="{ ...$props, ...$attrs}"
          :class="[type !== 'checkbox' && inputClass, hasErrors && inputErrorClass]"
          v-model="value"
        />
        <slot name="after" />
      </div>
    </slot>
    <slot name="help">
      <form-maker-help
        v-if="hasHelpText"
        :class="helpTextClass"
      >
        {{ helpText }}
      </form-maker-help>
    </slot>
    <slot name="errors">
      <form-maker-error
        v-if="hasErrors"
        :class="errorClass"
      >
        {{ realError }}
      </form-maker-error>
    </slot>
  </div>
</template>
