@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 80% !important;
}

section {
  @apply mb-6;
}

.code-example {
  @apply flex flex-wrap flex-row my-4;
}

.code-example > div {
  @apply flex-1;
}

.code-example .code {
  @apply mr-0 md:mr-2 max-w-full md:max-w-[50%];
}

.code-example .code pre {
  @apply mt-0;
}

.code-example .live {
  @apply mr-0 md:ml-2 mt-4 md:mt-0;
}

pre {
  @apply mb-0 !important;
}

pre.first {
  padding-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

pre.first + pre {
  padding-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.form-maker-row {
  @apply flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4 mb-4;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.form-maker-column {
  @apply w-full sm:flex-1;
}
.form-maker-error {
  @apply text-xs text-red-600;
}
.form-maker-help-text {
  @apply text-xs text-gray-700;
}
.form-maker-input.form-maker-input-error {
  @apply border-red-600 !important;
  @apply bg-red-100 !important;
}
.form-maker-input {
  @apply bg-gray-100 border-gray-100 h-10 border-2 focus:bg-white focus:outline-none focus:border-blue-500 block w-full rounded p-1 text-base placeholder-gray-600 focus:placeholder-transparent;
}
.form-maker-label {
  @apply block font-bold text-base text-gray-700;
}
.form-maker-submit-button {
  @apply flex-shrink-0 bg-blue-500 hover:bg-blue-700 border-blue-500 hover:border-blue-700 text-base border-4 text-white my-4 py-1 px-2 rounded;
}

.custom-label {
  color: blue;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.custom-input {
  border: 2px solid black;
  background: white;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar {
  @apply bg-gray-600;
}

.navbar nav {
  @apply flex items-center justify-between flex-wrap px-0;
}

.navbar .brand {
  @apply flex items-center flex-shrink-0 text-white mr-2;
}

.navbar .brand > span {
  @apply font-semibold text-xl tracking-tight;
}

.navbar .bars {
  @apply block lg:hidden py-2;
}
.navbar .bars > button {
  @apply flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white outline-none;
}

.navbar .bars > button > svg {
  @apply fill-current h-4 w-4;
}

.navbar .menu {
  @apply lg:block !important;
  @apply w-full hidden flex-grow lg:flex lg:items-center lg:w-auto mb-4 lg:mb-0;
}

.navbar .menu.visible {
  @apply block !important;
}

.navbar .menu > .items {
  @apply text-sm lg:flex lg:flex-grow;
}

.navbar .menu > .items > a {
  @apply block mt-0 lg:inline-flex lg:items-center text-white hover:text-white p-4;
}

.navbar .menu > .items > a.github-link,
.navbar .menu > .items > a.gitlab-link,
.navbar .menu > .items > a.npm-link {
  @apply text-white text-opacity-50 hover:text-opacity-100;
}

.navbar .menu > .items > a.active {
  @apply bg-white text-gray-600 font-bold;
}

table.props tbody tr {
  @apply hover:bg-gray-200;
  cursor: pointer;
}

table.props tr td:first-child {
  white-space: nowrap;
}
